In [3]:
x="PYTHON"
for i in x:
    print(i)

P
Y
T
H
O
N

In [5]:
fruits=['apple','banana','lemon']
for item in fruits:
    print(f'i have {item}')

i have apple
i have banana
i have lemon

In [7]:
movies=['the holy grail','the life of brian','the meaning of life','terminator','pulp fiction']
for movie in movies:
    print(movie,len(movie))

the holy grail 14
the life of brian 17
the meaning of life 19
terminator 10
pulp fiction 12

In [8]:
# LOOP FOR COUNTING
for i,name in enumerate(movies):
    print(f'{i} - {name}')

0 - the holy grail
1 - the life of brian
2 - the meaning of life
3 - terminator
4 - pulp fiction

In [9]:
for i,name in enumerate(movies):
    print(f'{i+1} - {name}')

1 - the holy grail
2 - the life of brian
3 - the meaning of life
4 - terminator
5 - pulp fiction

In [10]:
for i in range(6):
    print('you got points',i)

you got points 0
you got points 1
you got points 2
you got points 3
you got points 4
you got points 5

In [11]:
for num in range(2,11):
    print('sheep',num)

sheep 2
sheep 3
sheep 4
sheep 5
sheep 6
sheep 7
sheep 8
sheep 9
sheep 10

In [12]:
for num in range(1,10,3):
    print('level',num)

level 1
level 4
level 7

In [13]:
for num in range(10,5,-1):
    print(num)

10
9
8
7
6

In [14]:
for i in range(10):
    print(i*'Na')

Na
NaNa
NaNaNa
NaNaNaNa
NaNaNaNaNa
NaNaNaNaNaNa
NaNaNaNaNaNaNa
NaNaNaNaNaNaNaNa
NaNaNaNaNaNaNaNaNa

# 1. wap to print if numbers are even or odd from 1,101
# 2. wap to print the sum of all even numbers from 2,101
# 3. wap to print the average of all odd numbers from 1,100

In [23]:
for i  in range(1,101):
    if i%2==0:
        print('even',i)
    else:
        print('odd',i)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14
odd 15
even 16
odd 17
even 18
odd 19
even 20
odd 21
even 22
odd 23
even 24
odd 25
even 26
odd 27
even 28
odd 29
even 30
odd 31
even 32
odd 33
even 34
odd 35
even 36
odd 37
even 38
odd 39
even 40
odd 41
even 42
odd 43
even 44
odd 45
even 46
odd 47
even 48
odd 49
even 50
odd 51
even 52
odd 53
even 54
odd 55
even 56
odd 57
even 58
odd 59
even 60
odd 61
even 62
odd 63
even 64
odd 65
even 66
odd 67
even 68
odd 69
even 70
odd 71
even 72
odd 73
even 74
odd 75
even 76
odd 77
even 78
odd 79
even 80
odd 81
even 82
odd 83
even 84
odd 85
even 86
odd 87
even 88
odd 89
even 90
odd 91
even 92
odd 93
even 94
odd 95
even 96
odd 97
even 98
odd 99
even 100

In [20]:
sum=0
for i in range(2,101):
    if i%2==0:
     sum=sum+i
print(sum)

2550

In [22]:
avg=0
for i in range(1,101):
    if i%2!=0:
        avg=avg+i/100
print(avg)

24.999999999999996

In [23]:
for i in range(1,6):
    print(i,end=' ')
    print(i*2,end=' ')
    print(i*3,end=' ')
    print(i*4,end=' ')
    print(i*5)

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

In [19]:
# better implementation
for i in range(1,6):
    print(1*1,2*i,3*i,4*i,5*i,sep=',')

1,2,3,4,5
1,4,6,8,10
1,6,9,12,15
1,8,12,16,20
1,10,15,20,25

In [22]:
#best implementation
for row in range(1,6):
    for col in range(1,6):
        print(row*col,end=' ')
    print()

1 2 3 4 5
2 4 6 8 10
3 6 9 12 15
4 8 12 16 20
5 10 15 20 25

# While Loop

In [24]:
x=1
while x<5:
    print('run')
    x+=1
print('stop')

run
run
run
run
stop

In [25]:
n=10
sum=0
i=1
while i<=n:
    sum = sum+i
    i=i+1
print('the sum is',sum)

the sum is 55

In [26]:
poem=''
while input('do u want to write another line?[y/n]')=='y':
    line=input('>>>')
    poem=poem+line
chars=len(poem)
print(f"total chars in poem is {chars}")

total chars in poem is 27

# Continue

In [27]:
x=[1,2,'',3,4,5,'',6,7,'',8,9,10]
total=0
for i in x:
    if isinstance(i,str):
        continue
    total+=i
print(total)

55

# Break

In [28]:
poem=''
while True:
    line=input('enter poem line')
    if line:
        poem+=line+'\n'
    else:
        break
print('total chars',len(poem))      
print(poem)

total chars 29
blabhjdbjksb
njksnjnj
ndjndj