In [1]:
a=(1,2,3,4)

In [2]:
print(a,type(a))

(1, 2, 3, 4) <class 'tuple'>

In [4]:
data=12,14,15,24
data

(12, 14, 15, 24)

In [5]:
a,b,c=10,12,13
z=(a,b,c)
print(z)

(10, 12, 13)

In [6]:
x = (1,2,3,4,5,6,7,8,9,10)

In [7]:
print(x[0],x[-1],x[6])

1 10 7

In [10]:
print("first five",x[0:5])
print("last five",x[-5:])
print('reverse',x[:-1])

first five (1, 2, 3, 4, 5)
last five (6, 7, 8, 9, 10)
reverse (1, 2, 3, 4, 5, 6, 7, 8, 9)

In [11]:
y=[1,2,5,4,3]
print(y)
y[0]=10
print(y)

[1, 2, 5, 4, 3]
[10, 2, 5, 4, 3]

In [12]:
x = (1,2,3,4,5,6,7,8,9,10)
print(x)
x[0]=10 # update
print(x)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

TypeError: 'tuple' object does not support item assignment

In [13]:
for i in x:
    print(i, end="")

12345678910

In [15]:
names='Alex','Mike','John','Mary','Bob'

In [16]:
for name in names:
    print('Hello',name)

Hello Alex
Hello Mike
Hello John
Hello Mary
Hello Bob

In [17]:
names.index('John')

2

In [18]:
if "Maris" in names:
    names.index("Maria")
else:
    print('No maria')

No maria

In [19]:
x=(1,2,1,2,3,4,5,1,2,12,1,2,1,2,1)
print(x.count(2))
print(x.count(1))

5
6

conversion from list to tuple and vice versa

In [20]:
x=[1,2,3,4,5,6,7,8,9,10]
xt=tuple(x)
print(x,type(x))
print(xt,type(xt))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>

In [21]:
x1=list(xt)
print(xt,type(xt))
print(x1,type(x1))

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10) <class 'tuple'>
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10] <class 'list'>

breaking string chars to list/tuple

In [23]:
word='valhalla'
word_char_list=list(word)
word_char_tuple=tuple(word)
print(word)
print(word_char_list)
print(word_char_tuple)

valhalla
['v', 'a', 'l', 'h', 'a', 'l', 'l', 'a']
('v', 'a', 'l', 'h', 'a', 'l', 'l', 'a')